<div class="container">
  <h2 i18n="@@taskManager">Task Manager</h2>

  <form>
    <div class="row">
      <div class="col-md-5">
        <div class="row">
            <div class="col-md-4">
                <label for="searchValue" class="mb-2 mr-sm-1" i18n="@@projectId3">Project:</label>
              </div>
          <div class="col-md-4">
            <input type="number" class="form-control mb-2 mr-sm-2" id="searchValue" 
              [(ngModel)]="searchFilter.project_id" name="searchValue">
          </div>
          <div class="col-md-4">
            <button type="button" class="btn btn-secondary rounded-circle" (click)="open(projectContent)"
              i18n="@@addTask">Search</button>
          </div>
        </div>
      </div>

      <div class="col-md-1">
        <label i18n="@@project_id3">Sort Task By:</label>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-3">
            <button type="submit" (click)="sort('start_date')" class="btn btn-secondary" i18n="@@addTask">Start
              Date</button>
          </div>
          <div class="col-md-3">
            <button type="submit" (click)="sort('end_date')" class="btn btn-secondary" i18n="@@addTask">End
              Date</button>
          </div>
          <div class="col-md-3">
            <button type="submit" (click)="sort('priority')" class="btn btn-secondary"
              i18n="@@addTask">Priority</button>
          </div>
          <div class="col-md-3">
            <button type="submit" (click)="sort('status')" class="btn btn-secondary" i18n="@@addTask">Completed</button>
          </div>
        </div>

      </div>
    </div>


    <div class="row">
      <div class="col">
        <span layout="row">
          <hr flex />
          <hr flex /></span>
      </div>
    </div>

    <div *ngFor="let task of taskList | sortBy:sortingName:isDesc | searchFilter: searchFilter">
      <div class="row">
        <div class="col-md-3">
          <h6 i18n="@@taskName2">Task</h6>
        </div>
        <div class="col-md-2">
          <h6 i18n="@@parentTaskName2">Parent</h6>
        </div>
        <div class="col-md-1">
          <h6 i18n="@@priority2">Priority</h6>
        </div>
        <div class="col-md-2">
          <h6 i18n="@@start">Start</h6>
        </div>
        <div class="col-md-2">
          <h6 i18n="@@end">End</h6>
        </div>
        <div class="col-md-1">
          <h6></h6>
        </div>
        <div class="col-md-1">
          <h6></h6>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <div class="rounded bg-secondary text-white">{{task.task_name}}</div>
        </div>
        <div class="col-md-2">
          <div *ngIf="task.parent_task != null" class="rounded bg-secondary text-white">
            {{task.parent_task.parent_task_name}}</div>
        </div>
        <div class="col-md-1">
          {{task.priority}}
        </div>
        <div class="col-md-2">
          {{task.start_date | date: 'MMM d, y'}}
        </div>
        <div class="col-md-2">
          {{task.end_date | date: 'MMM d, y'}}
        </div>
        <div class="col-md-1">
          <div *ngIf="task.status=='OPEN'">
            <button type="button" class="btn btn-secondary" (click)="editTask(task.task_id)">Edit</button>
          </div>
        </div>
        <div class="col-md-1">
          <div *ngIf="task.status=='OPEN'">
            <button type="button" class="btn btn-secondary" (click)="endTask(task.task_id)">End</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<!--Modals-->
<div>
  <ng-template #projectContent let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Project</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="dateOfBirth">Select a Project</label>
          <div class="input-group">
            <div *ngFor="let project of projectList">
              <br />
              <input name="options" type="radio" [(ngModel)]="parentProject" [ngModelOptions]="{standalone: true}"
                value="{{project.project_id}}" (change)="modal.close(project)" /> {{project.project_name}}
              <br />
            </div>

          </div>
        </div>
      </form>
    </div>
  </ng-template>
</div>