<div class="container">
  <div>
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
        <input type="hidden" formControlName="task_id" id="taskId" value="" name="taskId">
      <div class="row">
        <div class="col-md-2">
          <label for="projectId" class="mb-2 mr-sm-1" i18n="@@projectId3">Project:</label>
        </div>
        <div class="col-md-5">
          <input type="number" formControlName="project_id" class="form-control mb-2 mr-sm-2" id="project"
            placeholder="Enter Projec id" name="project">
        </div>
        <div class="col-md-1">
          <button type="button" [disabled]="isEditTask || parentCheckbox" class="btn btn-secondary rounded-circle"
            (click)="open(projectContent)" i18n="@@addTask">Search</button>
        </div>

        <div class="col-md-4"></div>
      </div>

      <br />

      <div class="row">
        <div class="col-md-2">
          <label for="taskName" class="mb-2 mr-sm-1" i18n="@@taskName3">Task:</label>
        </div>
        <div class="col-md-6">
          <input type="text" formControlName="task_name" class="form-control mb-2 mr-sm-2" id="taskName"
            placeholder="Enter task" name="taskName">
        </div>
        <div class="col-md-4"></div>
      </div>

      <br />

      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-1">0</div>
        <div class="col-md-4"></div>
        <div class="col-md-1">
          <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">30</div>
          </div>
        </div>
        <div class="col-md-4"></div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <label for="priority" i18n="@@priority3">Priority</label>
        </div>
        <div class="col-md-6">
          <input type="range" formControlName="priority" class="custom-range" id="priority" name="priority" min="1"
            max="30" value="15">
        </div>
        <div class="col-md-4"></div>
      </div>

      <br />

      <div class="row">
        <div class="col-md-2">
          <label for="parentTaskId" class="mb-2 mr-sm-1" i18n="@@parentTaskId3">Parent Task:</label>
        </div>
        <div class="col-md-5">
          <input type="number" formControlName="parent_id" class="form-control mb-2 mr-sm-2" id="parentTaskId"
            placeholder="Enter Parent Task id" name="parentTaskId">
        </div>

        <div class="col-md-1">
          <button type="button" [disabled]="parentCheckbox" class="btn btn-secondary rounded-circle"
            (click)="open(parentContent)" i18n="@@addTask">Search</button>
        </div>

        <div class="col-md-4"></div>
      </div>

      <br />

      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" [(ngModel)]="parentCheckbox" [checked]="parentCheckbox"
                [ngModelOptions]="{standalone: true}" (change)="toggle()" name="checkParentTask"
                id="checkParentTask">Parent Task
            </label>
          </div>
        </div>
        <div class="col-md-6"></div>
      </div>

      <br />

      <div class="row">
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-6">
              <label for="start_date" class="mb-2 mr-sm-1" i18n="@@startDate3">Start Date:</label>
            </div>
            <div class="col-md-6">
              <input type="date" formControlName="start_date" class="form-control mb-2 mr-sm-2" id="start_date"
                placeholder="Enter Start Date" name="start_date">
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="row">
            <div class="col-md-6">
              <label for="end_date" class="mb-2 mr-sm-1" i18n="@@endDate3">End Date:</label>
            </div>
            <div class="col-md-6">
              <input type="date" formControlName="end_date" class="form-control mb-2 mr-sm-2" id="end_date"
                placeholder="Enter End Date" name="end_date">
            </div>
          </div>

        </div>

        <div class="col-md-4"></div>
      </div>

      <br />

      <div class="row">
        <div class="col-md-2">
          <label for="userId" class="mb-2 mr-sm-1" i18n="@@userId3">User:</label>
        </div>
        <div class="col-md-5">
          <input type="number" formControlName="user_id" class="form-control mb-2 mr-sm-2" id="userId"
            placeholder="Enter User id" name="userId">
        </div>

        <div class="col-md-1">
          <button type="button" [disabled]="isEditTask || parentCheckbox" class="btn btn-secondary rounded-circle"
            (click)="open(userContent)" i18n="@@addTask">Search</button>
        </div>

        <div class="col-md-4"></div>
      </div>

      <br />

      <div class="row" *ngFor="let errorMessage of errorMessages">
        <div class="col-md-2"></div>
        <div class="col-md-4 text-danger">
          {{errorMessage}}
        </div>
        <div class="col-md-6"></div>
      </div>

      <br />

      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2">
          <div *ngIf="!isEditTask">
              <button type="submit" class="btn btn-secondary" i18n="@@addTask">Add Task</button>
          </div>
          <div *ngIf="isEditTask">
              <button type="submit" class="btn btn-secondary" i18n="@@addTask">Update Task</button>
          </div>
          
        </div>
        <div class="col-md-2">
          <button type="button" (click)="resetTask()" class="btn btn-secondary" i18n="@@rest">Reset</button>
        </div>
        <div class="col-md-6"></div>
      </div>

    </form>
  </div>

  <!--All the Modals-->
  <div>
    <ng-template #projectContent let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Project</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="dateOfBirth">Select a Project</label>
            <div class="input-group">
              <div *ngFor="let project of activeProjectList">
                <br />
                <input name="options" type="radio" [(ngModel)]="parentProject" [ngModelOptions]="{standalone: true}"
                  value="{{project.project_id}}" (change)="modal.close(project)" /> {{project.project_name}}
                <br />
              </div>

            </div>
          </div>
        </form>
      </div>
    </ng-template>
  </div>
  <div>
    <ng-template #parentContent let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Parent</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="dateOfBirth">Select a Parent</label>
            <div class="input-group">
              <div *ngFor="let parent of parentTaskList">
                <br />
                <input name="options" type="radio" [(ngModel)]="parentTask" [ngModelOptions]="{standalone: true}"
                  value="{{parent.parent_id}}" (change)="modal.close(parent)" /> {{parent.parent_task_name}}
                <br />
              </div>

            </div>
          </div>
        </form>
      </div>
    </ng-template>
  </div>
  <div>
    <ng-template #userContent let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">User</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="dateOfBirth">Select a User</label>
            <div class="input-group">
              <div *ngFor="let user of userList">
                <br />
                <input name="options" type="radio" [(ngModel)]="taskUser" [ngModelOptions]="{standalone: true}"
                  value="{{user.user_id}}" (change)="modal.close(user)" /> {{user.first_name}} {{user.last_name}}
                <br />
              </div>

            </div>
          </div>
        </form>
      </div>
    </ng-template>
  </div>
</div>